<nav class="navbar navbar-light">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand navbar navbar-light">
      medium
    </a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">Home</a>
      </li>


      <li class="nav-item">
        <a [routerLink]="['/login']" class="nav-link">Sign in</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/register']" class="nav-link">Sign up</a>
      </li>
    </ul>
  </div>
</nav>
